RabbitMQTest.Web/Service References/WCFMQService/MQService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.7.249.21:1000/WCFMQService/MQService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RabbitMQTest.Model" />
  <xs:element name="ContactListApply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RabbitMQTest.Model" minOccurs="0" name="request" nillable="true" type="q1:RequestEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactListApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RabbitMQTest.Model" minOccurs="0" name="ContactListApplyResult" nillable="true" type="q2:ResponseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>